.icon-gridcontainer .x-tree-node-icon {
    background-image: url(../icons/data_grid.png) !important;
}

.icon-gridclasskey-document-edit {
    background-image: url(../icons/page_white_edit.png) !important;
}

.icon-gridclasskey-document-new {
    background-image: url(../icons/page_white_add.png) !important;
}

.gridclasskey-deleted .x-grid3-cell-inner {
    text-decoration: line-through !important;
}

.x-action-col-cell img {
  height: 16px;
  width: 16px;
  margin-top: 10px;
  margin-right: 6px;
}

.gridclasskey-row {
    color: black;
}

.gridclasskey-row a {
    color: inherit;
}

.gridclasskey-unpublished td {
    font-style: italic !important;
}

.gridclasskey-deleted a,
.gridclasskey-deleted {
    text-decoration: line-through !important;
    color: red !important;
}

.icon-gridclasskey-filter {
    background-image: url(../icons/filter.png) !important;
}

.icon-gridclasskey-filter-add {
    background-image: url(../icons/filter_add.png) !important;
}

.icon-gridclasskey-filter-delete {
    background-image: url(../icons/filter_delete.png) !important;
}

.icon-gridclasskey-settings {
    background-image: url(../icons/setting_tools.png) !important;
}

#gridclasskey-panel-mainfieldscombo .x-btn,
#gridclasskey-panel-tvfieldscombo .x-btn {
    position: absolute !important;
}

.icon-gridclasskey-actioncolumn-img {
    width: 16px;
    height: 16px;
    margin-top: 6px;
}

.icon-gridclasskey-edit {
    background-image: url(../icons/pencil.png) !important;
}

.icon-gridclasskey-view {
    background-image: url(../icons/eye.png) !important;
}

.icon-gridclasskey-delete {
    background-image: url(../icons/delete.png) !important;
}

.icon-gridclasskey-recycle {
    background-image: url(../icons/recycle.png) !important;
}